.container.mx-auto{
    margin-top: 15px;
}

.headLeft-section{
  border: 1px solid;
  border-bottom: 0px;
  border-right: 0px;
	width: 20%;
}

.headLeft-section input {
  width: 60%;
  margin: 10px;
  border: 1px solid ;
}

.headLeft-section button {
    background: #009EF7;
    color: #fff;
    border: 1px solid ;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000000;
    background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(110,173,212,1) 100%);
}

.nav.flex-column.nav-pills{
    margin: 10px;
}

.headRight-section{
	border: 1px solid ;
	width: 80%;
}

.bodyLeft-section{
    overflow-y: scroll;
    height: 34rem;
    border: 1px solid ;
    width: 20%;
}

.bodyLeft-section::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.bodyLeft-section::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.bodyLeft-section::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.bodyLeft-section::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
  
.bodyRight-section{
    width: 80%;
    border-bottom: 1px solid;
    border-right: 1px solid;
    background-color: #f1f1f1;
}

.chat.form-group {
    overflow-y: scroll;
}

.message {
    height: 29rem;
    font-family: sans-serif;
  }
  
  .message ul {
    padding: 0px;
    list-style: none;
    margin: 0px auto;
    width: 90%;
    overflow: hidden;
  }
  .message ul li {
    position: relative;
    width: 80%;
    padding: 15px 0px;
    clear: both;
  }
   ul li.msg-left {
    float: left;
  }
  
  .message ul li.msg-left img {
    float: left;
    width: 30px;
    bottom: 30px;
  }
  
  ul li.msg-left .msg-desc {
    margin-left: 35px;
    font-size: 15px;
    background: #629afd;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 0px;
    position: relative;
  }
  
  ul li.msg-left small {
    float: right;
    color: #c1c1c1;
  }
  
  .main-section small {
    font-size: 12px;
  }
  
  
  ul li.msg-right {
    float: right;
  }
  
  ul li.msg-right img {
    position: absolute;
    width: 35px;
    right: 25px;
    bottom: 30px;
  }
  
  ul li.msg-right .msg-desc {
    margin-right: 50px;
    font-size: 12px;
    background: #cce5ff;
    color: #004085;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 5px;
    position: relative;
  }
  
  ul li.msg-right small {
    float: right;
    color: #c1c1c1;
    margin-right: 70px;
  }

  .form-group.text-center{
    height: 35px;
  }

  .btn-send{
    width: 5%;
    height: 100%;
      border-radius: 5px;
      color: #009EF7;
      background: #fff;
      border: 1px solid;
  }
  
  #mensaje{
    outline: none;
    height: 100%;
    width: 55%;
    border: 1px solid #629afd;
  }

button:not(:disabled) {
  outline: none;
}

@media only screen and (max-height: 550px){
  .bodyLeft-section{
    height: 25rem;
  }
  .message {
    height: 20rem;
  }
}

@media only screen and (max-height: 600px) and (min-height:551px){
  .bodyLeft-section{
    height: 26rem;
  }
  .message {
    height: 21rem;
  }
}

@media only screen and (max-height: 650px) and (min-height:601px){
  .bodyLeft-section{
    height: 28rem;
  }
  .message {
    height: 23rem;
  }
}

@media only screen and (max-height: 700px) and (min-height:651px){
  .bodyLeft-section{
    height: 30rem;
  }
  .message {
    height: 25rem;
  }
}