{{#if info}}
    <div class="row">
      <div class="col-md4 mx-auto">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>{{info}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      </div>
    </div>
  {{/if}}